body {
  background-color: azure;
  margin: 0;
  padding: 0; }

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  color: #40394A;
  font-size: 1.4em; }

.nav-container {
  position: sticky;
  top: 0;
  background-color: #E9E3E6;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  border-radius: 10px; }
  .nav-container ul {
    overflow: hidden;
    margin: 0;
    padding: 0; }
    .nav-container ul li {
      list-style-type: none;
      float: left; }
      .nav-container ul li a {
        text-decoration: none;
        padding: 23px 17px;
        display: block;
        color: #40394A;
        font-size: 16px;
        transition-duration: 0.4s; }
      .nav-container ul li a:hover {
        background-color: #B2B2B2;
        color: white;
        border-radius: 13px; }
      .nav-container ul li a:active {
        background-color: #736F72;
        color: white; }

.form {
  border-radius: 5px;
  background-color: #B2B2B2;
  padding: 20px;
  margin: 4% 20% 4% 20%;
  color: #40394A; }
  .form input[type=text], .form select, .form input[type=email], .form input[type=password], .form input[type=confirm_password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; }
  .form input[type=submit], .form button {
    width: 100%;
    background-color: #9A8F97;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.4s; }
  .form input[type=submit]:hover {
    background-color: #736F72; }

.register-form {
  margin: 4% 20% 4% 20%; }

.login-form {
  margin: 4% 25% 4% 25%; }

.button {
  background-color: #E9E3E6;
  border: none;
  padding: 16px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 15px; }
  .button a {
    text-decoration: none;
    color: #849ABD; }

.button5 {
  background-color: white;
  color: black;
  border: 3px solid #555555; }

.button5:hover {
  background-color: #555555;
  color: white; }

.profile {
  margin: 4% 5% 4% 5%;
  padding: 0 0 0 0; }
  .profile div {
    display: inline-block; }

.user-profile-info {
  float: left;
  background-color: #E9E3E6;
  border: 3px dotted #9A8F97;
  border-radius: 5px;
  padding: 0 50px 50px 50px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1em;
  color: #40394A; }
  .user-profile-info dt {
    padding: 7px 0 0 0;
    display: inline-block; }

.user-action-info {
  float: left;
  border: 3px dotted #9A8F97;
  border-radius: 5px;
  width: 50%; }
  .user-action-info dt {
    color: #40394A;
    padding: 7px 0 0 0;
    display: inline-block;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; }
  .user-action-info dl {
    color: #40394A;
    display: inline-block; }

.movie-container {
  margin: 10px 100px 10px 100px; }

.movie-box {
  display: inline-block;
  width: 250px;
  height: 300px;
  background-color: #F1F1F1;
  text-align: center;
  margin: 7px; }
  .movie-box img {
    padding: 0 25px 0 25px;
    width: 200px;
    height: 200px; }

/*# sourceMappingURL=main.css.map */
