$primary_1: #9A8F97
$primary_2: #C3BAB3
$primary_3: #E9E3E6
$primary_4: #B2B2B2
$primary_5: #736F72
$primary_6: #F1F1F1
$primary_7: #555555

$secondary_1: #6C92A1
$secondary_2: #849ABD
$secondary_3: #40394A
$secondary_4: #1C1427

$background_color: azure
$font_family: "Times New Roman", Times, serif

body
  background-color: $background_color
  margin: 0
  padding: 0


.header
  background-color: $primary_6
  text-align: center
  padding: 20px
  font-family: $font_family
  color: $secondary_3
  font-size: 1.4em


.nav-container
  position: sticky
  top: 0 // necessary for position "sticky"
  background-color: $primary_3
  margin: 0
  font-family: $font_family
  border-radius: 10px
  ul
    overflow: hidden
    margin: 0
    padding: 0
    li
      list-style-type: none // removes the bullets
      float: left // displays on the left
      a
        text-decoration: none
        padding: 23px 17px // t r b l
        display: block
        color: $secondary_3
        font-size: 16px
        transition-duration: 0.4s

      a:hover
        background-color: $primary_4
        color: white
        border-radius: 13px
      a:active
        background-color: $primary_5
        color: white


.form
  border-radius: 5px
  background-color: $primary_4
  padding: 20px
  margin: 4% 20% 4% 20%
  color: $secondary_3
  input[type=text], select, input[type=email], input[type=password], input[type=confirm_password]
    width: 100%
    padding: 12px 20px
    margin: 8px 0
    display: inline-block
    border: 1px solid #ccc
    border-radius: 4px
    box-sizing: border-box

  input[type=submit], button
    width: 100%
    background-color: $primary_1
    color: white
    padding: 14px 20px
    margin: 8px 0
    border: none
    border-radius: 4px
    cursor: pointer
    transition-duration: 0.4s

  input[type=submit]:hover
    background-color: $primary_5


.register-form
  margin: 4% 20% 4% 20%

.login-form
  margin: 4% 25% 4% 25%


// buttons
.button
  background-color: $primary_3
  border: none
  padding: 16px 20px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 16px
  margin: 4px 2px
  transition-duration: 0.4s
  cursor: pointer
  border-radius: 15px
  a
    text-decoration: none
    color: $secondary_2

.button5
  background-color: white
  color: black
  border: 3px solid $primary_7

.button5:hover
  background-color: $primary_7
  color: white


// TODO : learn about box models
// user profile
.profile
  margin: 4% 5% 4% 5%
  padding: 0 0 0 0
  div
    display: inline-block

.user-profile-info
  float: left
  background-color: $primary_3
  border: 3px dotted $primary_1
  border-radius: 5px
  padding: 0 50px 50px 50px
  font-family: $font_family
  font-size: 1.1em
  color: $secondary_3
  dt
    padding: 7px 0 0 0
    display: inline-block

.user-action-info
  float: left
  border: 3px dotted $primary_1
  border-radius: 5px
  width: 50%
  dt
    color: $secondary_3
    padding: 7px 0 0 0
    display: inline-block
    margin: 8px 0
    border: 1px solid #ccc
    border-radius: 4px
    box-sizing: border-box
  dl
    color: $secondary_3
    display: inline-block



// movie page

.movie-container
  margin: 10px 100px 10px 100px

.movie-box
  display: inline-block
  width: 250px
  height: 300px
  background-color: $primary_6
  text-align: center
  margin: 7px
  img
    padding: 0 25px 0 25px
    width: 200px
    height: 200px

